html {
  background-color: #eeeeee; 
}

body { 
  font-family: Arial, Arial, Arial, Arial, Arial, Arial;
  color: #000;
  background-color: #ffffff; 
  text-align:justify; /* for IE */
  margin-top: 30px; 
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left:  55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 960px;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: cornflowerblue;
    font-size: .8em
}


table{ background-color: #ffffff; }

a, a:link, a:visited {
  color: #1f82a9;
  background:transparent;
  text-decoration: underline;
  cursor:pointer;
  background-color:underline;
}
a:hover {
  color: #006699;
  background:inherit;
  text-decoration: underline;
}

img { border: 0; }
.hr-dotted {
    border: 0;
    border-top: 1px dotted #a2a9b6;
}

h1,h2,h3,h4,h5,h6,h7,h8{ font-family: Arial,Arial,Arial,Arial, Arial, Arial,Arial,Arial,Arial,Arial; }

p { font-size:18; font-family: Arial}
p2 { font-size:18; font-weight:bold; font-family: Arial; align-content: justify;}
p3 { font-size:18; color: #A9A9A9;font-weight:normal; font-family: Arial; align-content: justify;}
p4 { font-size:18; font-weight:normal; font-family: Arial; align-content: justify;}
i {font-size:15; color: #0C8918; font-family: italic; align-content: justify}
i2 {font-size:15; color: #0C8918; font-family: Arial; align-content: justify}
h5 {font-size:25px; font-weight:normal;}
h6 {font-size:20px; font-weight:normal;}
h7 {font-size:18px; font-weight:normal;font-family: Arial;}
h8 {font-size:16px; font-weight:normal;font-family: Arial;}

#navbar{
font-size:19;

}
#navbar a{
text-decoration: none;
padding-right: 15px;
}
#NewsOL{
color: #FF0000;
}
#PaperListOL{
  color: #000000;
}

#ProjectssOL{
color: #000000;
font-family: Arial;}